{% extends 'gestion/base.html' %}

{% block title %}Portal Estudiantil{% endblock %}

{% block content %}
<div class="d-flex justify-content-center mt-5">
    <div class="card shadow-lg" style="width: 50%;">
        <div class="card-header bg-primary text-white text-center">
            <h4 class="mb-0">ACADEMIA DE BAILE (Estudiantes)</h4>
        </div>
        <div class="card-body text-center">
            <a href="{% url 'asignar_cursos_alumno' %}" class="btn btn-info btn-lg btn-block mb-3">Asignación y Horarios de Cursos</a>
            <a href="{% url 'atencion_cliente' %}" class="btn btn-info btn-lg btn-block">Atención al Cliente</a>
        </div>
    </div>
</div>
{% endblock %}
