{% extends 'gestion/base.html' %}

{% block title %}Editar Usuario{% endblock %}

{% block content %}
<div class="card shadow-sm mb-4">
    <div class="card-header bg-secondary text-white">
        <h4 class="mb-0">Editar Usuario: {{ usuario.username }}</h4>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    </div>
</div>
{% endblock %}
