{% extends 'gestion/base.html' %}

{% block title %}Pago del Curso{% endblock %}

{% block content %}
<div class="card shadow-lg mb-4">
    <div class="card-header bg-primary text-white text-center">
        <h4 class="mb-0">Confirmar Pago para el Curso: {{ curso.nombre }}</h4>
    </div>
    <div class="card-body">
        <p><strong>Costo del Curso:</strong> ${{ curso.costo }}</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success btn-block">Confirmar Pago</button>
        </form>
    </div>
</div>

<!-- Botón de regreso al listado de cursos -->
<div class="text-center mt-4">
    <a href="{% url 'asignar_cursos_alumno' %}" class="btn btn-secondary">Regresar</a>
</div>
{% endblock %}
